/*
 *  generic.css
 *  scouting
 *
 *  Created by Ross Light on 1/12/11.
 */

$link-color: #A65616; // mid orange
$visited-link-color: #5C3830; // grey orange
$hover-link-color: #D9582E; // bright orange

/*** FORMS ***/

.formtable
{
}

.formtable th
{
    text-align: right;
    vertical-align: top;
}

.formtable td
{
    padding-bottom: 1ex;
}

.formtable .actions
{
    text-align: right;
}

.formtable .actions > *
{
    margin-left: 1ex;
}

.error, .errorlist
{
    margin: 0 0 1ex;
    padding: 0 1ex;
    border: thin solid red;
    background: #fcc;
}

p.error
{
    width: 50%;
}

.errorlist
{
    list-style: none;
}

.explanation
{
    color: #333;
    font-size: 85%;
    font-style: italic;
}

/*** PAGING ***/

.pager
{
    margin-top: 1em;
    margin-bottom: 1ex;
}

.pager :link, .pager :visited
{
    color: $link-color;
}

.pager .disabled
{
    color: #888;
}

.pager .control > :link, .pager .control > :visited, .pager .control > .disabled
{
    margin-right: 1ex;
}

/*** TABLES ***/

table.info
{
    margin-bottom: 1em;
    th, td
    {
        line-height: 1.2em;
    }

    th
    {
        text-align: right;
        vertical-align: top;
        font-weight: bold;
    }

    td
    {
        padding-left: 1ex;
    }
}

.listing
{
    $background: #E8DAC3;

    th, td
    {
        padding: 0.5ex 1ex;
        text-align: left;
    }

    tr.odd
    {
        background: $background;
    }

    tr.even
    {
        background: darken($background, 20%);
    }

    thead > tr
    {
        background: darken($background, 30%);
    }
}

/*** LINKS ***/

:link
{
    color: $link-color;
}

:visited
{
    color: $visited-link-color;
}

a:hover
{
    color: $hover-link-color;
}

/*** HEADERS ***/

h1,h2,h3,h4,h5,h6
{
    margin-top: 20px;
    margin-bottom: 20px;

    :link, :visited
    {
        text-decoration: none;
    }
}

h1          { font-size: 175%; }
h2          { font-size: 150%; }
h3          { font-size: 125%; }
h4          { font-size: 112.5%; }
h5, h6      { font-size: 100%; }

hgroup
{
    margin-top: 2%;
    margin-bottom: 2%;

    &>h1,&>h2,&>h3,&>h4,&>h5,&>h6
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}

/*** MISC ***/

.clear
{
    clear: both;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.nodata
{
    color: #444;
    font-style: italic;
}

/*** DOCUMENTS ***/

.copy
{
    ul
    {
        margin-left: 1.5em;
        list-style: square;
    }

    ol
    {
        margin-left: 2em;
        list-style: decimal;
    }

    dl
    {
        &>dt
        {
            margin-bottom: 0.5ex;
            font-weight: bold;
        }

        &>dd
        {
            margin-left: 3em;
            margin-bottom: 0.5em;
        }
    }
}
