{{define "doctype.html"}}<!DOCTYPE html>{{end}}

{{define "css.html"}}
    <!-- HTML 5 support -->
    <!--[if IE]>
    <script src="{{route "static" "path" "/js/html5.js"}}"></script>
    <![endif]-->
    <style>article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }</style>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{route "static" "path" "/css/reset.css"}}">
    <link rel="stylesheet" type="text/css" href="{{route "static" "path" "/css/generic.css"}}">
    <link rel="stylesheet" type="text/css" href="{{route "static" "path" "/css/style.css"}}">
    <link rel="stylesheet" type="text/css" href="{{route "static" "path" "/css/layout.css"}}">
{{end}}

{{define "jumpbar.html"}}
    <form id="jumpbar_form" action="{{route "jump"}}" method="GET">
        <input id="jumpbar" name="q" type="text" size="20">
        <input type="submit" value="Jump">
    </form>
{{end}}

{{define "logo.html"}}
    <h1><a href="{{route "root"}}">Scouting</a></h1>
{{end}}

{{define "default-links.html"}}
    <a href="{{route "team.index"}}">Teams</a>
    <a href="{{route "event.index"}}">Events</a>
{{end}}

{{define "begin-content.html"}}
{{end}}

{{define "end-content.html"}}
{{end}}

{{define "footer.html"}}
    <footer>
        <p>Software: Copyright &copy; 2010, 2011 <a href="http://www.zombiezen.com/">Ross Light</a></p>
        <p>Developed for Team 973: Greyhound Revolutionary Robotics</p>
    </footer>
{{end}}

{{define "jquery.html"}}
    <script type="text/javascript" src="{{route "static" "path" "/js/jquery.js"}}"></script>
    <script type="text/javascript" src="{{route "static" "path" "/js/jquery.urls.js"}}"></script>
    <!-- Scripts -->
    <script type="text/javascript">
        $.setSiteRoot('{{route "root" | js}}');
        $.setStaticRoot('{{route "static" "path" "/" | js }}');
    </script>
{{end}}

{{define "watermark.html"}}
<!--
  /////////////////+oooosssss+////////////////////
  /////////////+oyhmNNNNNNNNNNmds+////////////////
  //////////+ohdNmNNNNNNNNNNNNNNNmdo//////////////
  /////////smNmmmNNNNNNNNNNNNNNNNNNNh+////////////
  //++++++yNmmmmmmmNmdhdmNmmNNNNNNNNNd////////////
  +++++++smmmmmmmmmNhhddddmmmmmmmmmNmNs///////////
  +++++++ymmmmmmdhhyoo+++ooossyhdddNNMs///////////
  +++++++ymmmmmdysoooo+++++++++oosydmMo///////////
  +++++++hmmNmdysssssyso+++++++oooosdm+///////////
  ++++++oymmmdsossssooshhyooooossssshy////////////
  +++++ohyhmmyooosyyddyyyysooyyyyyyyds////////////
  +++++ossyssooooooossyssso+oyyddyyyh+////////////
  +++++ooooosooo+++++++ooo++ossssssys/////////////
  ++++++ooossooo+++++ooooo++oooooooo//////////////
  ++++++osysssooooossssyso+++oso++o+//////////////
  +++++oosssssssosyysoosyhyyyyysooo++/////////////
  +++ooossyyyssooooyhyyyyyhhhyyssso+++////////////
  +++sdmNNdsyyssoooosss+++oydyoosso++++///////////
  oymmmmNNdsyyyysoooossyyyyysooshsoo+++///////////
  dmmmmmmNhssyhhyso++oosssoooshmNmso++++//////////
  mmmmmmmmhyssyhhhyo+++++oooymNmmNy++++++/////////
  mmmmmNNNmhyssyyhhhyssoosydNNNNNmdhyyso++////////
  mmmmmmNNNNdhssyyhhhhyhhmNNNNNNNNNNNmmmdhs+//////
  NmmmmmmNNNNmdysyyhhhhdmNNNNNNNNNNNNmmmmmmmy+////

  http://www.zombiezen.com/
-->
{{end}}
