/*
 *  layout.css
 *  scouting
 *
 *  Created by Ross Light on 1/12/11.
 */
header {
  position: relative;
  padding: 1ex 1ex; }
  header > nav {
    position: absolute;
    bottom: 0.5ex;
    right: 5em; }

@media print {
  header > nav {
    display: none; } }
#main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 90%;
  margin: 1.5em auto;
  padding: 0 1em 1em; }

footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  margin: 0 auto;
  padding: 1ex 1em; }
