/*
 *  style.css
 *  scouting
 *
 *  Created by Ross Light on 1/12/11.
 */
html, body {
  background: black;
  font-family: Tahoma, Helvetica, Arial, sans-serif; }

header {
  background: #E09C2D; }
  header > h1 {
    margin: 0;
    font-size: 200%;
    text-transform: uppercase; }
  header > nav {
    font-size: 110%; }
    header > nav a {
      font-weight: bold; }
    header > nav a:before {
      content: "\2022";
      margin-left: 1ex;
      margin-right: 1ex; }
  header :link, header :visited, header :hover {
    color: inherit;
    text-decoration: none; }

#jumpbar_form {
  display: inline; }

#main {
  background: #e8dac3;
  border: thin solid black; }

#content_area p {
  margin-bottom: 1em; }

.team_list .team_number {
  text-align: right;
  font-weight: bold; }

@media screen {
  #robot_info {
    width: 45%;
    float: right;
    margin-left: 2em; } }

#links {
  clear: both; }

.listing .odd .red_alliance {
  background: #ee707f; }
.listing .odd .blue_alliance {
  background: #bcbfe4; }
.listing .score.winner {
  font-weight: bold; }
.listing .team_highlight {
  font-weight: bold; }

#match_teams {
  border: thin solid #333;
  font-size: 125%; }
  #match_teams td, #match_teams th {
    padding: 0.5ex 1ex;
    font-size: 95%; }
  #match_teams > thead > th {
    width: 50%; }
  #match_teams td {
    width: 12.5%; }
  #match_teams .team_header {
    border-top: thin solid #333;
    border-bottom: thin solid #333;
    text-align: left; }
    #match_teams .team_header > th.red_alliance {
      background: #ee707f; }
    #match_teams .team_header > th.blue_alliance {
      background: #bcbfe4; }
    #match_teams .team_header .edit_link {
      font-size: 65%; }

td.red_alliance, th.red_alliance {
  background: #b01527; }
  td.red_alliance :link, td.red_alliance :visited, td.red_alliance a:hover, th.red_alliance :link, th.red_alliance :visited, th.red_alliance a:hover {
    color: inherit; }

td.blue_alliance, th.blue_alliance {
  background: #4f57b8; }
  td.blue_alliance :link, td.blue_alliance :visited, td.blue_alliance a:hover, th.blue_alliance :link, th.blue_alliance :visited, th.blue_alliance a:hover {
    color: inherit; }

.formtable th.red_alliance, .formtable th.blue_alliance {
  text-align: left;
  padding-bottom: 1ex; }

#score {
  margin-bottom: 1ex;
  font-size: 150%; }

#main_jumpbar_form input {
  font-size: 150%; }

h1.red_alliance, h2.red_alliance, span.red_alliance, div.red_alliance {
  color: #b01527; }
h1.blue_alliance, h2.blue_alliance, span.blue_alliance, div.blue_alliance {
  color: #4f57b8; }

footer {
  background: #e8dac3;
  border: thin solid black;
  text-align: center;
  font-size: 80%; }
