{{template "doctype.html"}}
<html>
<head>
    <title>{{.Event.Location.Name}} {{with .Match}}{{.Type.DisplayName}} Match {{.Number}}{{end}}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    {{template "css.html"}}
</head>
<body>
    <header>
        {{template "logo.html"}}
        <nav>
            {{template "jumpbar.html"}}
            <span class="links">
                {{template "default-links.html"}}
                {{/* TODO: edit match link */}}
            </span>
        </nav>
    </header>
    <div id="main">
        <div id="content_area">
            <!-- begin content -->
            <hgroup>
                <h1>{{with .Match}}{{.Type.DisplayName}} Match {{.Number}}{{end}}</h1>
                <h2>{{with .Event}}<a href="{{route "event.view" "year" .Date.Year "location" .Location.Code}}">{{.Location.Name}} ({{.Date.Year}})</a>{{end}}</h2>
            </hgroup>

            <table id="match_teams">
                <thead>
                    <th class="red_alliance" scope="col" colspan="4">Red{{with .Match.Score}}: {{.red}}{{end}}</th>
                    <th class="blue_alliance" scope="col" colspan="4">Blue{{with .Match.Score}}: {{.blue}}{{end}}</th>
                </thead>
                <tbody>
                    {{range .Match.AlliancePairs}}
                    <tr class="team_header">
                        {{template "match-headerCell.html" .Red}}
                        {{template "match-headerCell.html" .Blue}}
                    </tr>

                    <tr>
                        {{template "match-hoopCountCellPair.html" map "Label" "Autonomous" "Red" .Red.Autonomous "Blue" .Blue.Autonomous}}
                    </tr>

                    <tr>
                        {{template "match-hoopCountCellPair.html" map "Label" "Teleoperated" "Red" .Red.Teleoperated "Blue" .Blue.Teleoperated}}
                    </tr>

                    <tr>
                        {{template "match-bridgeCellPair.html" map "Label" "Coop" "Red" .Red.CoopBridge "Blue" .Blue.CoopBridge}}
                    </tr>

                    <tr>
                        {{template "match-bridgeCellPair.html" map "Label" "Bridge 1" "Red" .Red.TeamBridge1 "Blue" .Blue.TeamBridge1}}
                    </tr>
                    <tr>
                        {{template "match-bridgeCellPair.html" map "Label" "Bridge 2" "Red" .Red.TeamBridge2 "Blue" .Blue.TeamBridge2}}
                    </tr>

                    {{end}}
                </tbody>
            </table>

            {{/* TODO: Video */}}

            <h2>Reports</h2>
            <p><a href="#">Scouting Forms</a></p>
            <p><a href="#">Match Sheet</a></p>
            <!-- end content -->
        </div>
    </div>
    {{template "footer.html"}}

    {{template "jquery.html"}}
</body>
{{template "watermark.html"}}
</html>

{{define "match-headerCell.html"}}
    <th class="{{.Alliance}}_alliance team_num">
        {{with .Team}}
            <a href="{{route "team.view" "number" .}}">{{.}}</a>
        {{else}}
            &nbsp;
        {{end}}
    </th>
    <th class="{{.Alliance}}_alliance score" colspan="3">
        {{with .Score}}{{.}}{{else}}&nbsp;{{end}}
    </th>
{{end}}

{{define "match-labelPair.html"}}
    <td class="red_alliance" colspan="4">{{.}}</td>
    <td class="blue_alliance" colspan="4">{{.}}</td>
{{end}}

{{define "match-cellPair.html"}}
    {{template "match-cell.html" map "Label" .Label "Alliance" "red" "Value" .Red}}
    {{template "match-cell.html" map "Label" .Label "Alliance" "blue" "Value" .Blue}}
{{end}}

{{define "match-cell.html"}}
    <td class="{{.Alliance}}_alliance">{{.Label}}</td>
    <td class="{{.Alliance}}_alliance" colspan="3">{{.Value}}</td>
{{end}}

{{define "match-boolCellPair.html"}}
    {{template "match-boolCell.html" map "Label" .Label "Alliance" "red" "Value" .Red}}
    {{template "match-boolCell.html" map "Label" .Label "Alliance" "blue" "Value" .Blue}}
{{end}}

{{define "match-boolCell.html"}}
    <td class="{{.Alliance}}_alliance">{{.Label}}</td>
    <td class="{{.Alliance}}_alliance" colspan="3">{{if .Value}}Yes{{else}}No{{end}}</td>
{{end}}

{{define "match-hoopCountCell.html"}}
    <td class="{{.Alliance}}_alliance">{{.Label}}</td>
    {{with .Value}}
    <td class="{{$.Alliance}}_alliance">H {{.High}}</td>
    <td class="{{$.Alliance}}_alliance">M {{.Mid}}</td>
    <td class="{{$.Alliance}}_alliance">L {{.Low}}</td>
    {{else}}
    <td class="{{$.Alliance}}_alliance" colspan="3">&nbsp;</td>
    {{end}}
{{end}}

{{define "match-hoopCountCellPair.html"}}
    {{template "match-hoopCountCell.html" map "Label" .Label "Alliance" "red" "Value" .Red}}
    {{template "match-hoopCountCell.html" map "Label" .Label "Alliance" "blue" "Value" .Blue}}
{{end}}

{{define "match-bridgeCell.html"}}
    <td class="{{.Alliance}}_alliance">{{.Label}}</td>
    {{with .Value}}
        <td class="{{$.Alliance}}_alliance" colspan="3">
            {{if .Attempted}}
                {{if .Success}}Success{{else}}Failed{{end}}
            {{else}}
                Not Attempted
            {{end}}
        </td>
    {{else}}
    <td class="{{$.Alliance}}_alliance" colspan="3">&nbsp;</td>
    {{end}}
{{end}}

{{define "match-bridgeCellPair.html"}}
    {{template "match-bridgeCell.html" map "Label" .Label "Alliance" "red" "Value" .Red}}
    {{template "match-bridgeCell.html" map "Label" .Label "Alliance" "blue" "Value" .Blue}}
{{end}}
