{{template "doctype.html"}}
<html>
<head>
    <title>{{.Event.Location.Name}} {{with .Match}}{{.Type.DisplayName}} Match {{.Number}}{{end}}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    {{template "css.html"}}
</head>
<body>
    <header>
        {{template "logo.html"}}
        <nav>
            {{template "jumpbar.html"}}
            <span class="links">
                {{template "default-links.html"}}
                {{/* TODO: edit match link */}}
            </span>
        </nav>
    </header>
    <div id="main">
        <div id="content_area">
            <!-- begin content -->
            <hgroup>
                <h1>{{with .Match}}{{.Type.DisplayName}} Match {{.Number}}{{end}}</h1>
                <h2>{{with .Event}}<a href="{{route "event.view" "year" .Date.Year "location" .Location.Code}}">{{.Location.Name}} ({{.Date.Year}})</a>{{end}}</h2>
            </hgroup>

            {{/* TODO: Video */}}

            <h2>Reports</h2>
            <p><a href="#">Scouting Forms</a></p>
            <p><a href="#">Match Sheet</a></p>
            <!-- end content -->
        </div>
    </div>
    {{template "footer.html"}}

    {{template "jquery.html"}}
</body>
{{template "watermark.html"}}
</html>
