{{template "doctype.html"}}
<html>
<head>
    <title>Team {{.Team.Number}}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    {{template "css.html"}}
</head>
<body>
    <header>
        {{template "logo.html"}}
        <nav>
            {{template "jumpbar.html"}}
            <span class="links">
                {{template "default-links.html"}}
                {{/* TODO: edit link */}}
            </span>
        </nav>
    </header>
    <div id="main">
        <div id="content_area">
            <!-- begin content -->
            <hgroup>
                <h1>Team #{{.Team.Number}}</h1>
                {{with .Team.Name}}<h2>{{.}}</h2>{{end}}
            </hgroup>
            {{with .Team.RookieYear}}
            <table class="info">
                <tr><th>Rookie Year</th><td>{{.}}</td></tr>
            </table>
            {{end}}

            {{with .Team.Robot}}
            {{if or .Name .Notes}}
            <section id="robot_info">
                <h2 id="robot">Robot Info</h2>

                {{with teamimage $.Team.Number}}
                <p><img src="{{.}}" height="256" alt="Team {{$.Team.Number}}'s Robot"></p>
                {{end}}

                <table class="info">
                    {{with .Name}}<tr><th>Name</th><td>{{.}}</td></tr>{{end}}
                    {{with .Notes}}<tr><th>Notes</th><td>{{.}}</td></tr>{{end}}
                </table>
            </section>
            {{end}}
            {{end}}

            <h2 id="events">Registered Events</h2>
            {{range .Stats}}
            {{with .EventTag}}
            <h3><a href="{{route "event.view" "year" .Year "location" .LocationCode}}">{{.}}</a></h3>
            <p><a href="{{route "event.teamMatches" "year" .Year "location" .LocationCode "teamNumber" $.Team.Number}}">See Matches...</a></p>
            {{end}}

            <table class="info">
                <tr><th>Matches Played</th><td>{{.MatchCount}}</td></tr>
                <tr>
                    <th>Average Teleoperated</th>
                    <td>{{.AverageTeleoperatedScored}}/{{.AverageTeleoperatedShot}}</td>
                    <td class="stat_help">Scored/Shot</td>
                </tr>
                <tr>
                    <th>Average Autonomous</th>
                    <td>{{.AverageAutonomousScored}}/{{.AverageAutonomousShot}}</td>
                    <td class="stat_help">Scored/Shot</td>
                </tr>
                <tr>
                    <th>Max Teleoperated</th>
                    <td>{{.MaxTeleoperatedScored}}/{{.MaxTeleoperatedShot}}</td>
                    <td class="stat_help">Scored/Shot</td>
                </tr>
                <tr>
                    <th>Bridge</th>
                    <td>{{intsum .CoopBridge.SuccessCount .TeamBridge1.SuccessCount}}/{{intsum .CoopBridge.AttemptCount .TeamBridge1.AttemptCount}}</td>
                    <td class="stat_help">Successes/Attempts</td>
                </tr>

                <tr><td>&nbsp;</td></tr>

                <tr><th>Average Score</th><td>{{.AverageScore}}</td></tr>
                {{template "team-bridge-stats.html" map "Label" "Coop Bridge" "Stats" .CoopBridge "TeamStats" .}}
                {{template "team-bridge-stats.html" map "Label" "Bridge 1" "Stats" .TeamBridge1 "TeamStats" .}}
                {{template "team-bridge-stats.html" map "Label" "Bridge 2" "Stats" .TeamBridge2 "TeamStats" .}}
                <tr><th>No-Shows</th><td>{{.NoShowCount}}</td></tr>
                <tr><th>Failures</th><td>{{.FailureCount}}</td><td class="stat_help">{{.FailureRate|percent}}</td></tr>
            </table>
            {{end}}

            {{/* TODO: Overall Statistics */}}

            <h2 id="links">Links</h2>

            <div id="copy">
                <ul>
                    {{with .Team.Number}}
                    <li><a href="http://frclinks.appspot.com/team/{{.}}">FRC Info</a></li>
                    <li><a href="http://frclinks.appspot.com/tba/{{.}}">The Blue Alliance</a></li>
                    {{end}}
                </ul>
            </div>
            <!-- end content -->
        </div>
    </div>
    {{template "footer.html"}}

    {{template "jquery.html"}}
</body>
{{template "watermark.html"}}
</html>
{{define "team-bridge-stats.html"}}
    <tr><th>{{.Label}} Attempts</th><td>{{.Stats.AttemptCount}}</td><td class="stat_help">{{.Stats.AttemptRate .TeamStats.MatchCount|percent}}</td></tr>
    <tr><th>{{.Label}} Successes</th><td>{{.Stats.SuccessCount}}</td><td class="stat_help">{{.Stats.SuccessRate|percent}}</td></tr>
{{end}}
